#background{

    position: fixed;

    inset: 0;

    overflow: hidden;

    z-index: -999;

    background: radial-gradient(
        circle at center,
        #08111f 0%,
        #040b15 45%,
        #020617 100%
    );

}