/* ===========================
   BACKGROUND
=========================== */

#background{

    position:fixed;
    inset:0;

    overflow:hidden;

    z-index:-999;

    background:
    radial-gradient(circle at top,#10203d 0%,#08111f 40%,#020617 100%);

}

/* ===========================
   CAMADAS
=========================== */

#nebula,
#stars-small,
#stars-medium,
#stars-big,
#meteors{

    position:absolute;

    inset:0;

}

/* ===========================
   ESTRELAS
=========================== */

.star{

    position:absolute;

    border-radius:50%;

    background:white;

}